// Styling for the services section
.service-heading {
  margin: 75px 0 15px 0;
  text-transform: none;
  font-size: 175%;
}

#services {
	img {
		width: 200px;
		float: right;
		box-shadow: 5px 5px 10px #DDD;
		margin: 0 0 5px 10px;
	}
}


@media(max-width:450px) {
  #services {
	img {
		width: 100%;
		float: none;
		box-shadow: 5px 5px 10px #DDD;
		margin: 0 0 5px 0px;
	}
 }
}