// Styling for the services section
.service-heading {
    margin: 0px 0 15px 0;
    text-transform: none;
    font-size: 175%;
  }

  #services {
      p {
        text-align: justify;
      }

      img {
          width: 80%;
          border-radius: 10px;
          box-shadow: 5px 5px 10px #DDD;
      }
  }

  @media(max-width:768px) {
    section#services {
      padding: 100px 0;
    }
  }