nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
        a.navbar-brand(href='#page-top')
            img(src='assets/img/Logo-1001Patrimoines-small.png', alt='...')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars.ms-1
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                li.nav-item
                    a.nav-link(href='index.html') Accueil
                li.nav-item
                    a.nav-link(href='nous_connaitre.html') Nous connaître
                li.nav-item
                    a.nav-link(href='nos_expertises.html') Nos expertises
                li.nav-item
                    a.nav-link(href='finance_durable.html') La finance durable
                //- li.nav-item
                //-     a.nav-link(href='actualites.html') Fil d'actualité
                li.nav-item
                    a.nav-link(href='contact.html') Contact
