doctype html
html(lang='fr')

    head
        include includes/header.pug

    body#page-top

        // Navigation
        include includes/navigation.pug

        section#contact
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Nous appeler ou nous rencontrer
                        h3.section-subheading.text-muted Nous sommes à votre écoute, du lundi au vendredi, de 9h à 18h, et sur rendez-vous en dehors de ces plages horaires.

                .row
                    .col-sm-6
                        .team-member.text-center
                            img.mx-auto.rounded-circle(src='assets/img/team/Stéphanie BOULAY - square.jpg', alt='')
                            h4 Stéphanie BOULAY
                            p.text-muted Tel : 06 81 93 18 70
                            p.text-muted Roquefort les Pins (Alpes Maritimes)

                    .col-sm-6
                        .team-member.text-center
                            img.mx-auto.rounded-circle(src='assets/img/team/Camille De SORAS - square.jpg', alt='')
                            h4 Camille De SORAS
                            p.text-muted Tel : 06 99 68 90 75
                            p.text-muted Le Chesnay (Yvelines)

                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Nous contacter
                        h3.section-subheading.text-muted
                            | Par mail à l'adresse suivante&nbsp;:
                            a(href='mailto:contact@1001patrimoines.fr') contact@1001patrimoines.fr
                            | , ou bien en utilisant le formulaire ci-dessous&nbsp;:


                .row
                    .col-lg-12
                        form#contactForm(name='sentMessage', novalidate='')
                            .row
                                .col-md-6
                                    .form-group
                                        input#name.form-control(type='text', placeholder='Votre nom *', required='', data-validation-required-message='Veuillez saisir votre nom.')
                                        p.help-block.text-danger
                                    .form-group
                                        input#email.form-control(type='email', placeholder='Votre Email *', required='', data-validation-required-message='Veuillez saisir votre adresse email.')
                                        p.help-block.text-danger
                                    .form-group
                                        input#phone.form-control(type='tel', placeholder='Votre téléphone *', required='', data-validation-required-message='Veuillez saisir votre numéro de téléphone.')
                                        p.help-block.text-danger
                                .col-md-6
                                    .form-group
                                        textarea#message.form-control(placeholder='Votre message *', required='', data-validation-required-message='Veuillez saisir votre message')
                                        p.help-block.text-danger
                                .clearfix
                                .col-lg-12.text-center
                                    #success
                                    button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Envoyer votre message

                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Nous &eacute;crire
                        p
                            a(href='https://www.google.fr/maps/place/4+Avenue+Joannes+Hubert,+69160+Tassin-la-Demi-Lune', target='_blank')
                                | 4-6 Avenue Joannes Hubert
                                br
                                | 69160 Tassin la Demi-Lune

                #mentions_legales.row
                    .col-lg-2
                    .col-lg-8
                        h2.section-heading.text-uppercase.text-center Mentions l&eacute;gales
                        .text-muted
                            include:markdown-it texts/mentions_legales.md

                    .col-lg-2

        // Footer
        include includes/footer.pug
