doctype html
html(lang='fr')

    head
        include includes/header.pug

    body#page-top

        // Navigation
        include includes/navigation.pug

        // Masthead
        header#top.masthead
            .masthead-subheading 1001 PATRIMOINES
            .masthead-heading.text-uppercase Ensemble, protégeons et faisons fructifier votre patrimoine
            a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') En savoir plus

        // Services
        section#services.page-section
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.logo 1001 PATRIMOINES
                        h3.section-subheading.text-muted Cabinet de Conseil en Gestion de Patrimoine,<br/>
                            | vous accompagne dans votre planification patrimoniale et financière.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-universal-access.fa-stack-1x.fa-inverse
                        h4.service-heading
                            span.logo 1001 PATRIMOINES
                            |  s&rsquo;adresse &agrave; tous
                        p.text-muted
                            | Quelque soit votre besoin, nous sommes &agrave; votre &eacute;coute. Nous accompagnons les particuliers, les familles, les chefs d&rsquo;entreprises et les personnes en situation de handicap.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-road.fa-stack-1x.fa-inverse
                        h4.service-heading
                            span.logo 1001 PATRIMOINES
                            |  s&rsquo;engage dans la dur&eacute;e
                        p.text-muted
                            | Nos solutions sont personnalis&eacute;es et &eacute;volutives sur le long terme. Nous vous accompagnons au cours des diff&eacute;rentes &eacute;tapes de votre vie.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fa.fa-circle.fa-stack-2x.text-primary
                            i.fa.fa-handshake.fa-stack-1x.fa-inverse
                        h4.service-heading
                            span.logo 1001 PATRIMOINES
                            |  s&rsquo;appuie sur l&rsquo;exp&eacute;rience et la formation de ses associ&eacute;es
                        p.text-muted
                            | Des exp&eacute;riences vari&eacute;es dans la finance et gestion de patrimoine, des comp&eacute;tences compl&eacute;mentaires et des formations reconnues pour chacune des associ&eacute;es vous assurent des conseils de qualit&eacute;.


        // Métier
        section#metier.bg-light.metier
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Notre m&eacute;tier
                        h3.section-subheading.text-muted Nous vous aidons dans vos prises de d&eacute;cisions et r&eacute;pondons &agrave; vos questions&nbsp;:
                .row.questions.text-center.align-items-center
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Mes placements actuels r&eacute;pondent-ils &agrave; mes objectifs&nbsp;?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Comment prot&eacute;ger mon conjoint&nbsp;?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Mon patrimoine est-il adapt&eacute; &agrave; mes projets&nbsp;?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Suis-je suffisamment prot&eacute;g&eacute; en cas de probl&egrave;me de sant&eacute;&nbsp;?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Comment m&rsquo;assurer d&rsquo;obtenir des revenus suffisants pour ma retraite&nbsp;?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Comment puis-je optimiser ma fiscalit&eacute; ?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Comment transmettre mon patrimoine &agrave; mes enfants&nbsp;?
                    .col-sm-6.col-md-4.col-lg-3
                        p.text-muted Comment assurer l&rsquo;avenir de mon enfant en situation de handicap&nbsp;?

        section.bg-light
            .container
                .row
                    .col-lg-12.text-center
                        a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='apropos.html') Qui sommes-nous ?

        // Nos services
        section#portfolio
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Nos services
                        h3.section-subheading.text-muted
                            span.logo 1001 PATRIMOINES
                            |  vous accompagne dans l&rsquo;organisation, l&rsquo;optimisation et de transmission de votre patrimoine.
                .row
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_audit')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/audit-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Conseil patrimonial
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_investissement')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/investissement-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Conseil en investissements financiers
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_conseil_fiscal')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/conseil_fiscal-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Conseil en fiscalit&eacute;
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_handicap')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/handicap-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Conseil auprès des personnes en situation de handicap
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_retraite')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/retraite-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Epargne retraite
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_entreprise')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/chef_entreprise-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Protection du chef d&rsquo;entreprise
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_famille')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/famille-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Protection du particulier et de sa famille
                    .col-lg-3.col-sm-6.portfolio-item
                        a.portfolio-link(href='nos_expertises.html#service_epargne')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fa.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/epargne-thumbnail.jpg' alt='')
                        .portfolio-caption
                            p.text-muted Epargne salariale

        // Footer
        include includes/footer.pug
