doctype html
html(lang='fr')

    head
        include includes/header.pug

    body#page-top

        // Navigation
        include includes/navigation.pug

        // Services
        section.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase QUI SOMMES-NOUS ?
                .row
                    .col-lg-12.section-subheading
                        include:markdown-it texts/nous_connaitre.intro.md

                .row
                    .col-sm-1
                    .col-sm-4
                        .team-member.text-center
                            img(src='assets/img/team/Stéphanie BOULAY.jpg', alt='...')
                    .col-sm-4
                        .team-member
                            h4.mb-4 Stéphanie BOULAY
                            .text-muted
                                include:markdown-it texts/nous_connaitre.stephanie.md
                    .col-sm-1

                .row
                    .col-sm-1
                    .col-sm-4
                        .team-member
                            h4.mb-4 Camille De SORAS
                            .text-muted
                                include:markdown-it texts/nous_connaitre.camille.md
                    .col-sm-4
                        .team-member.text-center
                            img(src='assets/img/team/Camille De SORAS.jpg', alt='...')
                    .col-sm-1


                .row
                    .col-sm-1
                    .col-sm-4
                        .team-member.text-center
                            img(src='assets/img/team/Jean-Paul HUBERT.jpg', alt='...')
                    .col-sm-4
                        .team-member
                            h4.mb-4 Jean-Paul HUBERT
                            .text-muted
                                include:markdown-it texts/nous_connaitre.jean-paul.md
                    .col-sm-1

        section#demarche.demarche
            .container
                .row
                    .col-lg-12.text-center
                        h2.section-heading.text-uppercase Notre d&eacute;marche
                .row
                    .col-lg-3
                    .col-lg-6.text-center.mb-5
                        .section-subheading.text-muted
                            include:markdown-it texts/nous_connaitre.demarche.intro.md
                    .col-lg-3

                .row
                    .col-lg-6.col-xl-3
                        .feature-item
                            include:markdown-it texts/nous_connaitre.demarche.1.vous_rencontrer.md

                    .col-lg-6.col-xl-3
                        .feature-item
                            include:markdown-it texts/nous_connaitre.demarche.2.lettre_mission.md

                    .col-lg-6.col-xl-3
                        .feature-item
                            include:markdown-it texts/nous_connaitre.demarche.3.restitution.md

                    .col-lg-6.col-xl-3
                        .feature-item
                            include:markdown-it texts/nous_connaitre.demarche.4.mise_en_place.md

        // About
        section#about.bg-light
            .container
                .row
                    .col-lg-12.text-center.mb-5
                        h2.section-heading.text-uppercase Nos valeurs
                .row
                    .col-lg-12
                        ul.timeline
                            li
                                .timeline-image
                                    img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4 La Liberté
                                    .timeline-body.text-muted
                                        include:markdown-it texts/valeurs.1.liberte.md

                            li.timeline-inverted
                                .timeline-image
                                    img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4 La disponibilité, l’écoute et le dialogue
                                    .timeline-body.text-muted
                                        include:markdown-it texts/valeurs.2.disponibilite.md

                            li
                                .timeline-image
                                    img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4 La transparence, l’honnêteté
                                    .timeline-body.text-muted
                                        include:markdown-it texts/valeurs.3.transparence.md

                            li.timeline-inverted
                                .timeline-image
                                    img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4 La confidentialité
                                    .timeline-body.text-muted
                                        include:markdown-it texts/valeurs.4.confidentialite.md

                            li
                                .timeline-image
                                    img.rounded-circle.img-fluid(src='assets/img/about/5.jpg', alt='')
                                .timeline-panel
                                    .timeline-heading
                                        h4 La performance
                                    .timeline-body.text-muted
                                        include:markdown-it texts/valeurs.5.performance.md

        section#statuts.statuts
            .container
                .section-heading.text-center.mb-5
                    h2 Des Statuts réglementés
                .row
                    .col-lg-2
                    .col-lg-8.text-muted
                        include:markdown-it texts/statuts_reglementes.md
                    .col-lg-2

        section#statuts.statuts
            .container
                .section-heading.text-center.mb-5
                    h2 Nos partenaires
                .row
                    .col-lg-12.text-center
                        each image_partenaire in ['alptis.png', 'april.png', 'france_valley.png', 'generali.jpeg', 'metlife.jpeg', 'primonial.png', 'swiss_life.png', 'uaf_life.png', 'vatel_capital.png', 'vie_plus.jpeg']
                            img.mx-5.my-2(src='assets/img/partenaires/' + image_partenaire, alt='', style='max-height: 100px')

        // Footer
        include includes/footer.pug
